.post-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50vh;
    transform: translate(0%, -100%);
}
.submit-button{
    background-color: rgb(126, 55, 148);
    color: white;
    margin-top: 20px;
    border-radius: 25px;
    border: none;
    width: 387px;
    height: 40px;
    font-family: 'Poppins', sans-serif 
}
.form-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-area{
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    width:347px;
    resize: none;
    border-radius: 25px;
    height: 150px;
    padding: 20px;
}